@font-face {
    font-family: 'CaskaydiaCove';
    src: url('http://localhost/fonts/CaskaydiaCoveNerdFontCompleteRegular.otf');
}

body {
    min-width: 650px;
    background-color: black;
    font-family: 'CaskaydiaCove';
    color: green;
    margin-top: 10%;
}

.tab button:hover {
    background-color: rgb(32, 32, 32);
}

.tab button.active {
    background-color: rgb(32, 32, 32);
}

.tab {
    min-width: 400px;
    overflow: hidden;
    border: 1px solid green;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: black;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabcontent {
    display: none;
    min-width: 400px;
    padding: 6px 12px;
    border: 1px solid green;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#submitButton {
    border-color: green;
    border-width: 3px;
    border-radius: 7px;
    margin-top: 25px;
    background-color: black;
}

#submitButton:hover {
    border-color: greenyellow;
    color: greenyellow;
}

#slash {
    margin-top: 25px;
    font-size: 20px;
}

.input {
    border-color: green;
    border-width: 3px;
    border-radius: 7px;
    color: green;
    background-color: black;
}

input,
label {
    display: block;
}